// nf-core label resource requirements
// check_max function removed for now.




profiles {

    local { //define local settings depending on the system
        process {
            executor = 'local'
            cpus = 1
        }
    }

    // Profiles for the Uppmax clusters
    rackham {
        includeConfig 'configs/rackham.config'
    }

    // A profile for running locally with Singularity
    // (e.g., using an interactive Uppmax session)
    rackham_local {
        process {
            executor       = 'local'
            scratch        = '$SNIC_TMP'
        }
        singularity {
            enabled
            envWhitelist   = 'SNIC_TMP'
        }
    }

}


includeConfig 'configs/defaults.config'

includeConfig 'configs/rackham.config'

includeConfig 'configs/modules.config'
//includeConfig 'configs/nf-core-defaults.config'



timeline {
    enabled = true
    overwrite = true
    file = "$launchDir/execution/timeline.html"
}
report {
    enabled = true
    overwrite = true
    file = "$launchDir/execution/report.html"
}
trace {
    enabled = true
    overwrite = true
    file = "$launchDir/execution/trace.txt"
}


