params {
	allocation = "uppmax2025-2-309"
	fastqdir = "/sw/courses/epigenomics/2025/atacseq/tst/data"
	blacklist = "/sw/courses/epigenomics/2025/reference/foo.bed"
	mt = "MT"
	adapter = "CTGTCTCTTATACACATCT"
	genomeFa = "/sw/courses/epigenomics/2025/reference/GRCm39/Mus_musculus.GRCm39.dna.primary_assembly.fa.gz"
}
