process {

    withName: 'FASTQC_RAW' {
        ext.args   = ""
//        cpus       = 1
//        time       = 1.h
        publishDir = [ 
            path:   { "${params.outdir}/FastQC_raw" },
            mode:   'copy',
        ]
    }


    withName: 'TRIM_READS_PE' {
        ext.args   = ""
//        cpus       = 4
//        time       = 4.h
        publishDir = [ 
            path:   { "${params.outdir}/fastq_trimmed" },
            mode:   'copy',
        ]
    }

   withName: 'FASTQC_TRIMMED' {
        ext.args   = ""
//        cpus       = 1
//        time       = 1.h
        publishDir = [ 
            path:   { "${params.outdir}/FastQC_trimmed" },
            mode:   'copy',
        ]
    }


   withName: 'IDX_GENOME' {
        ext.args   = "-q"
//        cpus       = 6
//        time       = 4.h
        publishDir = [ 
            path:   { "${params.outdir}/bowtie2_index" },
            mode:   'copy',
        ]
    }


   withName: 'MAP_READS_GENOME' {
        ext.args   = "--local --quiet --very-sensitive -X 2000 --dovetail"
 //       cpus       = 12
 //       time       = 6.h
        publishDir = [ 
            path:   { "${params.outdir}/bowtie2_mapped" },
            mode:   'copy',
        ]
    }


   withName: 'BAM_STATS' {
        ext.args   = ""
 //       cpus       = 12
 //       time       = 6.h
        publishDir = [ 
            path:   { "${params.outdir}/bowtie2_mapped/bam_stats" },
            mode:   'copy',
        ]
    }

  withName: 'BAM_FILT' {
        ext.args   = "-f 0x2 -q 5"
 //       cpus       = 12
 //       time       = 6.h
 //       publishDir = [ 
 //           path:   { "${params.outdir}/bam_filt" },
 //           mode:   'copy',
 //       ]
    }


   withName: 'BAM_DEDUP' {
        ext.args   = "-VALIDATION_STRINGENCY LENIENT -REMOVE_DUPLICATES false -ASSUME_SORTED true"
 //       cpus       = 12
 //       time       = 6.h
        publishDir = [ 
            path:   { "${params.outdir}/bowtie2_mapped/bam_dedup" },
            mode:   'copy',
        ]
    }





    


}

