// nf-core label resource requirements with small adaptations
// check_max function removed for now.


process {

    cpus   = 1
    memory = 6.GB
    time   = 4.h

    withLabel: small {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel: mid_mem {
        cpus   = 6
        memory = 36.GB
        time   = 24.h
    }
    withLabel: big_mem {
        cpus   = 12
        memory = 72.GB
        time   = 6.h
    }
    withLabel: big_mem2 {
        memory = 200.GB
    }
}
